In [16]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [17]:
Transformed_Housing_Data  = pd.read_csv('Transformed_Housing_Data')

In [18]:
Transformed_Housing_Data.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition of the House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Years Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,No,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,No,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,No,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,No,0

In [19]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

ModuleNotFoundError: No module named 'statsmodels'

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Sale Price' : 'Sale_Price'})

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Condition of the House' : 'Condition_of_the_House'})

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Ever Renovated' : 'Ever_Renovated'})

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Waterfront View' : 'Waterfront_View'})

In [ ]:
Transformed_Housing_Data.head()

           ID  Sale_Price  ...  Ever_Renovated  Years Since Renovation
0  7129300520    221900.0  ...              No                       0
1  6414100192    538000.0  ...             Yes                      26
2  5631500400    180000.0  ...              No                       0
3  2487200875    604000.0  ...              No                       0
4  1954400510    510000.0  ...              No                       0

[5 rows x 21 columns]

In [ ]:
Transformed_Housing_Data['Waterfront_View'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
mod = ols('Sale_Price ~ Condition_of_the_House', data  = Transformed_Housing_Data).fit()

In [ ]:
Anova_Table = sm.stats.anova_lm( mod, typ = 2)

In [ ]:
print(Anova_Table)

                              sum_sq       df         F        PR(>F)
Condition_of_the_House  1.441831e+13      4.0  58.25563  5.447605e-49
Residual                1.336752e+15  21604.0       NaN           NaN

In [ ]:
mod = ols('Sale_Price ~ Waterfront_View', data  = Transformed_Housing_Data).fit()
sm.stats.anova_lm( mod, typ = 2)

                       sum_sq       df           F         PR(>F)
Waterfront_View  3.283737e+13      1.0  538.192683  1.275558e-117
Residual         1.318333e+15  21607.0         NaN            NaN

In [ ]:
mod = ols('Sale_Price ~ Ever_Renovated', data  = Transformed_Housing_Data).fit()
sm.stats.anova_lm( mod, typ = 2)

                      sum_sq       df           F        PR(>F)
Ever_Renovated  1.998463e+13      1.0  324.378469  5.419055e-72
Residual        1.331185e+15  21607.0         NaN           NaN

In [ ]:
mod = ols('Sale_Price ~ Zipcode', data  = Transformed_Housing_Data).fit()
sm.stats.anova_lm( mod, typ = 2)

                sum_sq       df          F        PR(>F)
Zipcode   2.503765e+12      1.0  40.112844  2.444308e-10
Residual  1.348666e+15  21607.0        NaN           NaN

### create dummy varible

In [21]:
Transformed_Housing_Data=pd.get_dummies(Transformed_Housing_Data,columns=['Condition of the House'],drop_first=True)

In [23]:
Transformed_Housing_Data=pd.get_dummies(Transformed_Housing_Data,columns=['Ever Renovated','Waterfront View'],drop_first=True)

In [24]:
Transformed_Housing_Data.head(10)

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Years Since Renovation,Condition of the House_Excellent,Condition of the House_Fair,Condition of the House_Good,Condition of the House_Okay,Ever Renovated_Yes,Waterfront View_Yes
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,...,-122.257,1340.0,5650,0,0,1,0,0,0,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,...,-122.319,1690.0,7639,26,0,1,0,0,1,0
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,...,-122.233,2720.0,8062,0,0,1,0,0,0,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,...,-122.393,1360.0,5000,0,1,0,0,0,0,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,...,-122.045,1800.0,7503,0,0,1,0,0,0,0
5,7237550310,1129575.0,4,4.50,5420.0,101930.0,1.0,0,10,3890.0,...,-122.005,4760.0,101930,0,0,1,0,0,0,0
6,1321400060,257500.0,3,2.25,1715.0,6819.0,2.0,0,7,1715.0,...,-122.327,2238.0,6819,0,0,1,0,0,0,0
7,2008000270,291850.0,3,1.50,1060.0,9711.0,1.0,0,7,1060.0,...,-122.315,1650.0,9711,0,0,1,0,0,0,0
8,2414600126,229500.0,3,1.00,1780.0,7470.0,1.0,0,7,1050.0,...,-122.337,1780.0,8113,0,0,1,0,0,0,0
9,3793500160,323000.0,3,2.50,1890.0,6560.0,2.0,0,7,1890.0,...,-122.031,2390.0,7570,0,0,1,0,0,0,0

In [ ]:
## binning

# binning

In [27]:
Zip_Table=Transformed_Housing_Data.groupby('Zipcode').agg({'Sale Price':'mean'}).sort_values('Sale Price',ascending=True)

In [28]:
Zip_Table.head(10)

            Sale Price
Zipcode
98002.0  234284.035176
98168.0  240328.371747
98032.0  251296.240000
98001.0  280804.690608
98148.0  284908.596491
98023.0  286486.572289
98188.0  289078.345588
98003.0  294111.278571
98030.0  296187.980469
98031.0  300539.890511

In [29]:
Zip_Table['Zipcode_Group']=pd.cut(Zip_Table['Sale Price'],bins=10,labels=['Zipcode_Group0','Zipcode_Group1','Zipcode_Group2','Zipcode_Group3','Zipcode_Group4','Zipcode_Group5','Zipcode_Group6','Zipcode_Group7','Zipcode_Group8','Zipcode_Group9'],include_lowest=True)

In [30]:
Zip_Table=Zip_Table.drop(columns='Sale Price')

In [31]:
Transformed_Housing_Data=pd.merge(Transformed_Housing_Data,Zip_Table,left_on='Zipcode',how='left',right_index=True)

In [32]:
Transformed_Housing_Data=Transformed_Housing_Data.drop(columns='Zipcode')

In [33]:
Transformed_Housing_Data.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Years Since Renovation,Condition of the House_Excellent,Condition of the House_Fair,Condition of the House_Good,Condition of the House_Okay,Ever Renovated_Yes,Waterfront View_Yes,Zipcode_Group
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,...,1340.0,5650,0,0,1,0,0,0,0,Zipcode_Group0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,...,1690.0,7639,26,0,1,0,0,1,0,Zipcode_Group2
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,...,2720.0,8062,0,0,1,0,0,0,0,Zipcode_Group2
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,...,1360.0,5000,0,1,0,0,0,0,0,Zipcode_Group3
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,...,1800.0,7503,0,0,1,0,0,0,0,Zipcode_Group4

create dummy variable

In [35]:
Transformed_Housing_Data=pd.get_dummies(Transformed_Housing_Data,columns=['Zipcode_Group'],drop_first=True)

In [36]:
Transformed_Housing_Data.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),...,Waterfront View_Yes,Zipcode_Group_Zipcode_Group1,Zipcode_Group_Zipcode_Group2,Zipcode_Group_Zipcode_Group3,Zipcode_Group_Zipcode_Group4,Zipcode_Group_Zipcode_Group5,Zipcode_Group_Zipcode_Group6,Zipcode_Group_Zipcode_Group7,Zipcode_Group_Zipcode_Group8,Zipcode_Group_Zipcode_Group9
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,...,0,0,0,0,0,0,0,0,0,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,...,0,0,1,0,0,0,0,0,0,0
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,...,0,0,1,0,0,0,0,0,0,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,...,0,0,0,1,0,0,0,0,0,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,...,0,0,0,0,1,0,0,0,0,0

resultant dataset be now Transformed_Housing_Data2